#mainTopic{
    color: blue;
}
*{
    text-align: center;
}
.heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.Para{
    color: white;
    background-color: cornflowerblue;
}
div button{
    background-color: purple;
    color: cornflowerblue;
}
button:hover{
    background-color: yellow;
    color: blue;
}
p:nth-of-type(2n+1){
    color: yellow;
}
h1::first-letter{
    color: red;
}
#yes:checked + label{
    color: darkgreen;
}
